/* General Styles */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #ffffff, #b3e5fc);
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.form-wrapper {
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 600px;
}

.logo-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.logo-container img {
    width: 120px;
    height: auto;
}

.form-container {
    flex: 2;
    text-align: center;
    padding: 20px;
}

h1 {
    margin-bottom: 10px;
    font-size: 28px;
    color: #000;
}

p {
    font-size: 14px;
    color: #666;
    margin-bottom: 30px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    width: 90%;
    padding: 12px 16px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 16px;
    color: #333;
}

input::placeholder {
    color: #bbb;
    font-size: 14px;
}

input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}

.button-container {
    position: relative;
}

button {
    width: 100%;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 25px;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    font-size: 12px;
    text-align: left;
    margin-bottom: 5px;
}

.password-wrapper {
    position: relative;
}

.password-wrapper input {
    width: 90%;
    padding: 12px 16px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 16px;
    color: #333;
}

.password-wrapper .toggle-password {
    position: absolute;
    right: 10px;
    top: 35%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #555;
}

.forgot-password {
    margin-top: 15px;
    font-size: 14px;
    color: #007bff;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}
